img {
  width: 30%;
}


.blue_font{
  color: blue;
}

.red_font{
  color:red;
}

.purpule_font{
  color:purple;
}

#name{
  font-family: 'Courgette', cursive;
}
#p{
  font-family: 'DM Serif Display', serif;
 font-family: 'Cardo', serif;
}

#b{
  font-family: 'DM Serif Display', serif;
font-family: 'Cardo', serif;
font-family: 'Concert One', cursive;

}
body{
  background-color: #49709C
}
